<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appproyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppProyectoFinal">
        <activity android:name=".InicioActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".RegistroActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".LoginActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".UserActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".MenuActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".StatsActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>